<div class="hero">
  <br /><br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>How do you apply what you've learned in school?</h1>
    <br />
    <h2>Find an Internship!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Step 1</h3>
    <br />
    <p>Sign up for an account!</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Step 2</h3>
    <br />
    <p>Search for internships</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Step 3</h3>
    <br />
    <p>Apply!</p>
  </div>
</div>

<div class="hero1">
  <br /><br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>How can we help you?</h1>
    <br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Search millions of internships</h3>
    <br />
    <p>We've got a couple million internships for you to search through and find the right one.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Find the perfect internship</h3>
    <br />
    <p>The best way to apply what you've learned in school is to use it in the real world.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Stand out</h3>
    <br />
    <p>An internship experience gives you the hands on experience to help you stand out from the crowd.</p>
  </div>
</div>
